* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #043420;
  color: #ffffff;
}

.app {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

input, button, textarea {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.5rem;
  border-radius: 6px;
  border: none;
  max-width: 100%;
  min-width: 100%;
  font-family: system-ui, sans-serif;
}

button {
  background: white;
  background: #00ff95;
  cursor: pointer;
}


li {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 0px;
}
h1 {
  font-size: 72px;
  font-weight: lighter;
}
h2 {
  padding-bottom: 10px;
}

.sent {
  color: #22c55e;
  font-size: 0.8rem;
}
